  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                      <h3 class="text-start font-weight-light my-4">Kubadili Taarifa Za Akaunti</h3>
                  </div>
                  <div class="card-body">
                      <form class="example-form" [formGroup]="updateForm"  (ngSubmit)="implementUpdate()" >
                          <mat-form-field class="example-part-width" appearance="fill">
                              <mat-label>Jina la Kwanza</mat-label>
                              <input matInput formControlName="supplierFName" name="supplierFName" >
                              <mat-error>
                                Tafadhali ingiza jina lako ya kwanza
                              </mat-error>
                            </mat-form-field>
  
                            <mat-form-field class="example-part-width" appearance="fill">
                              <mat-label>Majina ya mwisho</mat-label>
                              <input matInput formControlName="supplierLName" id="supplierLName">
                              <mat-error>
                                Tafadhali ingiza majina yako ya mwisho 
                              </mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-part-width" appearance="fill">
                              <mat-label>Namba ya Usajili</mat-label>
                              <input matInput formControlName="supplierRegNo"  id="supplierRegNo">
                              <mat-error>
                                Tafadhali ingiza nambari yako ya usajili
                              </mat-error>
                            </mat-form-field>
                          <mat-form-field class="example-part-width" appearance="fill">
                              <mat-label>Barua Pepe</mat-label>
                              <input type="email" matInput placeholder="Ex. email@example.com"
                              formControlName="supplierEmail"  id="supplierEmail">
                              <mat-error >
                                Tafadhali ingiza barua pepe kwa usahihi
                              </mat-error>
                            
                            </mat-form-field>
  
                            <mat-form-field class="example-part-width" appearance="fill">
                              <mat-label>Anuani</mat-label>
                              <input matInput formControlName="supplierAddress"  id="supplierAddress">
                              <mat-error>
                                Tafadhali ingiza anuani yako
                              </mat-error>
                            </mat-form-field>
  
                            <mat-form-field class="example-part-width" appearance="fill">
                              <mat-label>Nambari ya Simu</mat-label>
                              <input matInput formControlName="supplierPhoneNo"  id="supplierPhoneNo">
                              <mat-error>
                                Tafadhali ingiza nambari yako ya simu
                              </mat-error>
                            </mat-form-field>
  
                            <mat-form-field class="example-part-width" appearance="fill">
                              <mat-label>Neno la Siri</mat-label>
                              <input matInput [type]="hidepassword ? 'password' : 'text'" 
                              formControlName="supplierPassword"  id="supplierPassword">
                              <a mat-icon-button matSuffix (click)="hidepassword =!hidepassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidepassword">
                                <mat-icon>{{hidepassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </a>
                              <mat-error>
                                Tafadhali ingiza neno lako la Siri lisilopungua herufi nane
                              </mat-error>
                    
                            </mat-form-field>

                            <mat-form-field class="example-part-width" appearance="fill">
                              <mat-label>Rudia neno la siri</mat-label>
                              <input formControlName="confirmPassword" matInput [type]="hidepassword2 ? 'password' : 'text'" 
                              >
                              <a mat-icon-button matSuffix (click)="hidepassword2 =!hidepassword2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidepassword2">
                                <mat-icon>{{hidepassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </a>
                              <mat-error>
                                Maneno ya siri hayafanani
                            </mat-error>
                    
                            </mat-form-field>
  
                            
  
                            <button mat-raised-button color="primary" [disabled]="updateForm.invalid" type="submit">Badili</button>
  
  
                      </form>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
  