/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.delete-button{
  fill: none;
  border: none;
  color: red;
  background: none;
}

.update-button{
  fill: none;
  border: none;
  color: green;
  background: none;
}

#addFarmer{
  float: right; 
  margin-bottom: 8px;
  background-color: darkcyan;
  color: white;
}


