.example-container {
    width: 100%;
    height: 100%;
  }
  
  .example-sidenav-content {
    width: 100%;
    
    
  }
  
  .example-sidenav {
    padding: 20px;
  }

  /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #13375b;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Change background on mouse-over */
.navbar a:hover {
  color: whitesmoke;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.top{
  align-items: center;
}

h2{
  font-family: fantasy;
  font-size: 20px;
  color:  #13375b;
  padding-top: 10px;
  
}


.chip {
  display:inline-flex;
  align-content: center;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

