 
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <div class="row">
              <h3 class="text-center font-weight-light my-4">Kubadili Neno la Siri</h3>
            </div>
          </div>
          <div class="card-body">
  
            <form [formGroup]="updateForm"  (ngSubmit)="implementUpdate()" >
              <div class="example-container">
                <mat-form-field class="example-part-width" appearance="fill">
                  <mat-label>Neno la Siri Kongwe</mat-label>
                  <input matInput formControlName="oldPassword">
                  <mat-error>
                    Tafadhali ingiza majina yako ya mwisho
                  </mat-error>
                </mat-form-field>
  
                <mat-form-field class="example-part-width"  appearance="fill">
                  <mat-label>Neno la Siri Jipya</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="supplierPassword" >
                  <a mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                  <mat-error>
                    Umekosea neno la siri
                  </mat-error>
  
                </mat-form-field>

                <mat-form-field class="example-part-width"  appearance="fill">
                    <mat-label>Rudia Neno la Siri</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="confirmPassword" >
                    <a mat-icon-button matSuffix (click)="hide1 =!hide1" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide1">
                      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error>
                      Umekosea neno la siri
                    </mat-error>
    
                  </mat-form-field>
    
  
                <button mat-raised-button color="primary" [disabled]="updateForm.invalid" >Badili</button>
  
  
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>