.example-container {
    width: 100%;
    height: 100%;
  }
  
  .example-sidenav-content {
    width: 100%;
    
    
  }
  
  .example-sidenav {
    padding: 25px;
  }

  /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: darkcyan;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  align-items: center;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Change background on mouse-over */
.navbar a:hover {
  color: whitesmoke;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

h2{
  font-family: lobster;
  font-size: 30px;
  color: white;
  
}

