/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .delete-button{
    fill: none;
    border: none;
    color: red;
    background: none;
  }

  .update-button{
    fill: none;
    border: none;
    color: green;
    background: none;
  }

  #addSupplier{
    float: right; 
    margin-bottom: 8px;
    background-color: darkcyan;
    color: white;
  }

  .example-full-width {
    width: 97%;
  }

  .example-part-width{
    width: 32%;
  }

  .example-pass-width{
    width: 48.4%;
  }

  mat-form-field {
    margin-left: 8px;
  }

  .register-button{
    margin-left: 8px;
  }

  .login-button{
    background-color: darkcyan;
    color: white;
  }
  
  
  
  