<h2 mat-dialog-title>Kusajili Msambazaji</h2>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="supplierForm" (ngSubmit)="saveNewSupplier()">
        <mat-form-field class="example-part-width" appearance="outline">
            <mat-label>Jina la Kwanza</mat-label>
            <input matInput formControlName="supplierFName">
            <mat-error>
                Tafadhali ingiza jina la kwanza
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-part-width" appearance="outline">
            <mat-label>Majina ya Mwisho</mat-label>
            <input matInput formControlName="supplierLName">
            <mat-error>
                Tafadhali ingiza majina ya mwisho
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-part-width" appearance="outline">
            <mat-label>Namba ya Usajili</mat-label>
            <input matInput formControlName="supplierRegNo">
            <mat-error>
                Tafadhali ingiza namba ya usajili
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-part-width" appearance="outline">
            <mat-label>Barua Pepe</mat-label>
            <input type="email" matInput formControlName="supplierEmail" placeholder="Ex. pat@example.com">
            <mat-error>
                Tafadhali ingiza barua pepe sahihi
            </mat-error>
            <!-- <mat-error *ngIf="supplierEmail.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error> -->
        </mat-form-field>



        <mat-form-field class="example-part-width" appearance="outline">
            <mat-label>Namba ya Simu</mat-label>
            <input matInput formControlName="supplierPhoneNo">
            <mat-error>
                Tafadhali ingiza namba ya simu
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-part-width" appearance="outline">
            <mat-label>Anuani</mat-label>
            <input matInput formControlName="supplierAddress">
            <mat-error>
                Tafadhali ingiza Anuani
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-pass-width" appearance="outline">
            <mat-label>Ingiza Neno la Siri</mat-label>
            <input matInput formControlName="supplierPassword" [type]="hide ? 'password' : 'text'">
            <a mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error>
                Tafadhali ingiza neno la siri
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-pass-width" appearance="outline">
            <mat-label>Rudia Neno la Siri</mat-label>
            <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
            <a mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error>
                Maneno ya siri hayafanani
            </mat-error>
        </mat-form-field>
        <div class="register-button">
            <button mat-raised-button mat-dialog-close class="login-button" type="submit"
                [disabled]="supplierForm.invalid">Sajili</button>
        </div>
    </form>
</div>