<nav>
            <ul>
                <li>
                  <a>Kilimo Na Pembejeo</a>
                </li>
              </ul>


            <ul>
                <li>
                  <a [routerLink]="['admin-login']">INGIA ADMINI</a>
                </li>
                <li>
                  <a [routerLink]="['supplier-login']">INGIA MUUZAJI</a>
                </li>
              </ul>
    
  </nav>
<div class="container">
    <div class="home_content">
        <div class="row">
            <div class="col-md-12">
                <h2>Karibu</h2>
                <h1>Kilimo Na Pembejeo</h1>
                <h2>Suluhisho la pembejeo bora za kilimo na ufugaji</h2>
            </div>
        </div>
      
    </div>
    
      
    
</div>
  