<nav>
  <ul>
      <li>
        <a [routerLink]="['']">Kilimo Na Pembejeo</a>
      </li>
    </ul>
</nav>





<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <div class="row">
            <h3 class="text-center font-weight-light my-4">Kuingia Msambazaji Pembejeo</h3>
          </div>
        </div>
        <div class="card-body">

          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="example-container">
              <mat-form-field appearance="fill">
                <mat-label>Barua Pepe</mat-label>
                <input matInput placeholder="email@example.com" formControlName="supplierEmail" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>
                  Tafadhali ingiza barua pepe kwa usahihi
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Neno la Siri</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="supplierPassword">
                <a mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </a>
                <mat-error>
                  Umekosea neno la siri
                </mat-error>

              </mat-form-field>

              <button mat-raised-button color="primary" [disabled]="loginForm.invalid" >Ingia</button>
              <div class="small"><a [routerLink]="['supplier-register']">Huna Akaunti? Jisajili!</a></div>


            </div>
          </form>
        </div>
        <div class="card-footer text-center py-3">
          <button mat-icon-button color="primary" [routerLink]="['']">
            <mat-icon title="Rudi Nyumbani">home</mat-icon>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>