<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-start font-weight-light my-4">Register Product</h3>
                </div>
                <div class="card-body">
                    <form class="example-form" [formGroup]="productForm" (ngSubmit)="saveNewProduct()">
                        <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Product Name</mat-label>
                            <input matInput formControlName="productName" >
                        </mat-form-field>

                        <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Product Price</mat-label>
                            <input matInput formControlName="productPrice">
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Product Description</mat-label>
                            <textarea matInput formControlName="productDescr"></textarea>
                          </mat-form-field>

                        

                        <div class="register-button">
                            <button  type="submit" mat-raised-button
                                color="primary" [disabled]="productForm.invalid">Register</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>