<h2 mat-dialog-title>Kusajili Pembejeo</h2>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="productForm" (ngSubmit)="saveNewProduct()">
        <mat-form-field class="example-part-width" appearance="fill">
            <mat-label>Jina la Pembejeo</mat-label>
            <input matInput formControlName="productName">
            <mat-error>Tafadhali jaza jina la Pembejeo</mat-error>
        </mat-form-field>



        <mat-form-field class="example-part-width" appearance="fill">
            <mat-label>Bei ya Pembejeo</mat-label>
            <input type="number" matInput formControlName="productPrice">
            <mat-error>Tafadhali jaza bei ya Pembejeo (bei iwe mfumo wa nambari tuh!)</mat-error>
        </mat-form-field>
        <mat-form-field class="example-part-width" appearance="fill">
            <mat-label>Chagua Kategori ya Pembejeo</mat-label>
            <mat-select formControlName="category">
                <mat-option value="Mkulima wa Mifugo">Dawa za Mifugo</mat-option>
                <mat-option value="Mkulima wa Mazao">Dawa za Mimea</mat-option>
                <mat-option value="Mkulima wa Mifugo">Vyakula vya Mifugo</mat-option>
                <mat-option value="Mkulima wa Mazao">Mbolea</mat-option>
            </mat-select>
            <mat-error>
                Tafadhali Chagua Kategori ya Mkulima
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Maelezo ya Pemebejeo</mat-label>
            <textarea matInput formControlName="productDescr"></textarea>
            <mat-error>Tafadhali jaza maelezo ya Pembejeo yako </mat-error>

        </mat-form-field>

        <div class="register-button">
            <button type="submit" mat-raised-button mat-dialog-close
             color="primary" [disabled]="productForm.invalid">Sajili</button>
        </div>

    </form>
</div>