<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-start font-weight-light my-4">Sajili Pembejeo</h3>
                </div>
                <div class="card-body">
                    <form class="example-form" [formGroup]="productForm" (ngSubmit)="saveNewProduct()">
                        <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Jina la Pembejeo</mat-label>
                            <input matInput formControlName="productName" >
                            <mat-error>Tafadhali jaza jina la Pembejeo</mat-error>
                        </mat-form-field>

                       

                        <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Bei ya Pembejeo</mat-label>
                            <input type="number" matInput formControlName="productPrice">
                            <mat-error>Tafadhali jaza bei ya Pembejeo (bei iwe mfumo wa nambari tuh!)</mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Chagua Kategori ya Pembejeo</mat-label>
                            <mat-select formControlName="category">
                                <mat-option value="Mkulima wa Mifugo">Dawa za Mifugo</mat-option>
                                <mat-option value="Mkulima wa Mazao">Dawa za Mimea</mat-option>
                                <mat-option value="Mkulima wa Mifugo">Vyakula vya Mifugo</mat-option>
                                <mat-option value="Mkulima wa Mazao">Mbolea</mat-option>
                            </mat-select>
                            <mat-error>
                                Tafadhali Chagua Kategori ya Mkulima
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Maelezo ya Pemebejeo</mat-label>
                            <textarea matInput formControlName="productDescr"></textarea>
                            <mat-error>Tafadhali jaza maelezo ya Pembejeo yako </mat-error>

                          </mat-form-field>

                        <div class="register-button">
                            <button  type="submit" mat-raised-button
                                color="primary" [disabled]="productForm.invalid">Sajili</button>
                        </div>
                        
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>