<nav>
  <ul>
      <li>
        <a [routerLink]="['']">Kilimo Na Pembejeo</a>
      </li>
    </ul>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Kujisajili</h3>
                </div>
                <div class="card-body">
                    <form class="example-form " [formGroup]="registerForm" (ngSubmit)="register()">
                        <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Jina la Kwanza</mat-label>
                            <input matInput formControlName="supplierFName">
                            <mat-error>
                              Tafadhali ingiza jina la kwanza
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Majina ya mwisho</mat-label>
                            <input matInput formControlName="supplierLName">
                            <mat-error>
                              Tafadhali ingiza majina yako ya mwisho
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Namba ya Usajii</mat-label>
                            <input matInput formControlName="supplierRegNo">
                            <mat-error>
                              Tafadhali ingiza nambari yako ya usajili
                            </mat-error>
                          </mat-form-field>
                        <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Barua Pepe</mat-label>
                            <input type="email" matInput placeholder="Ex. email@example.com"
                            formControlName="supplierEmail">
                            <mat-error >
                              Tafadhali ingiza barua pepe kwa usahihi
                            </mat-error>
                          
                          </mat-form-field>

                          <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Anuani</mat-label>
                            <input matInput formControlName="supplierAddress">
                            <mat-error>
                              Tafadhali ingiza anuani yako
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Nambari ya Simu</mat-label>
                            <input matInput formControlName="supplierPhoneNo">
                            <mat-error>
                              Tafadhali ingiza nambari yako ya simu
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Neno la Siri</mat-label>
                            <input matInput [type]="hidepassword ? 'password' : 'text'" 
                            formControlName="supplierPassword">
                            <a mat-icon-button matSuffix (click)="hidepassword =!hidepassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidepassword">
                              <mat-icon>{{hidepassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </a>
                            <mat-error>
                              Tafadhali neno la siri lisilopungua herufi nane
                            </mat-error>
                  
                          </mat-form-field>

                          <mat-form-field class="example-part-width" appearance="fill">
                            <mat-label>Rudia neno la siri</mat-label>
                            <input matInput [type]="hideconfirm ? 'password' : 'text'" 
                            formControlName="confirmPassword">
                            <a mat-icon-button matSuffix (click)="hideconfirm =!hideconfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideconfirm">
                              <mat-icon>{{hideconfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </a>
                            <mat-error>
                              Maneno ya siri hayafanani
                            </mat-error>
                  
                          </mat-form-field>

                          <button mat-raised-button color="primary" [disabled]="registerForm.invalid" type="submit">Jisajili</button>


                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a [routerLink]="['/supplier-login']" >Tayari unayo Akaunti? Nenda kwenye kurasa ya kuingilia</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
